<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <h3>SimpleCMS - Request new account</h3>
            <%if(typeof res == "undefined"){%>
              <form class="m-t" role="form" method="post" action="/admin/forgotpassword">
                  <div class="form-group">
                      <input name="email" type="email" class="form-control" placeholder="Email" required="">
                  </div>
                  <button type="submit" class="btn btn-primary block full-width m-b">Request Password</button>
              </form>
            <%}else{%>
              <h3>Your request has been sent. Please check your email to get new password.</h3>
            <%}%>
            <p class="m-t"> <small>SimpleCMS &copy; 2016</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="/js/jquery-2.1.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>
