<% layout('admin-layout') -%>
<%- script('/js/plugins/nestable/jquery.nestable.js') %>
<script>
    var menu_unique_id = '<%if(typeof id != "undefined"){%><%=id%><%}else{%><%-'default'%><%}%>';
    var menuid = '<%if(typeof menuid != "undefined"){%><%-menuid%><%}%>';
    var selectURLItem = false;
    var selectedLinkType = "content";
    function addAPI(API_URL,args,cb){
        if(args['id']){
          $.put(API_URL,args,function(data){
              if(data.success){
                  toastr["success"](data.message);
                  cb(null,data);
              }
              else{
                  toastr["error"](data.message);
                  cb(data.message);
              }
          });
        }else{
          $.post(API_URL,args,function(data){
              if(data.success){
                  toastr["success"](data.message);
                  cb(null,data);
              }
              else{
                  toastr["error"](data.message);
                  cb(data.message);
              }

          });
        }
    }

    function convertTimestampToDate(timestamp){
      var dateBuff =  new Date(timestamp);
      var dateStr =  dateBuff.getDate() + '/' + (dateBuff.getMonth() + 1) + '/' +  dateBuff.getFullYear();
      return dateStr;
    }

    function getList(API_URL,$args,cb){
        $.get(API_URL,$args).done(function( data ) {
                if(data.success === false){
                    //alert(data.error);
                    //toastr["error"](data.message);
                    cb(data.error);
                }else{
                    cb(null,data);
                }
            }).fail(function() {
                cb("GET LIST ERROR");
          });
    }

   var updateOutput = function (e) {
            var list = e.length ? e : $(e.target),
            output = list.data('output');
            var data = $('.dd').nestable('serialize');
    };

    function openPageDialog(elm) {
      $("#openPageModal").modal('show');
      selectURLItem =  $(elm).closest( "li" );
      renderPageList();
    }

    function addNewMenuItem(menuID){
      if(!menuID) return;

      var html = '<li class="dd-item row" data-id="1" data-menutype="url">';
      html += '<div class="dd-handle row">';
          html += '<div class="col-sm-4">';
          html += menuID;
          html +='</div>';
      html +='</div>';
      html += '<div class="row"> <div class="col-sm-10">';
          html += '<input type="text" name="url" class="form-control url-field">';
      html +='</div>';
      html +=' <div class="col-sm-2"> <button class="btn btn-sm btn-success"  onClick="openPageDialog(this);"><i class="fa fa-link"></i></button>';
       html +=' <button class="btn btn-sm btn-danger btn-remove-menu" onClick="removeMenuItem(this);"><i class="fa fa-lg fa-trash-o"></i></button> </div>';
      html +=' </div>';
  

      html += '</li>';
      $("#menu-item-container").append(html);
    }
    function removeMenuItem(menuEL) {
      console.log(menuEL);
      var liEl =  $(menuEL).closest( "li" );
      liEl.remove();
      console.log("remove menu item");
    }

    function simpleLoad(btn, state) {
           if (state) {
               btn.children().addClass('fa-spin');
               btn.contents().last().replaceWith(" Loading");
           } else {
               setTimeout(function () {
                   btn.children().removeClass('fa-spin');
                   btn.contents().last().replaceWith(" Refresh");
               }, 500);
           }
  }
    var PAGE_API = "/admin/api/";
    function renderPageList($args){
        var btn = $("#loading-btn");
        simpleLoad(btn,true);
        if(!$args)
          $args = {};
        
        getList(PAGE_API+selectedLinkType, $args,function(error,res){
            if(error){
              toastr['error'][error];
            }else{
              //render table
              $("#table-content-list").html("");
              var tableContent = renderTableContent(res.data);
              $("#table-content-list").html(tableContent);
              delete res.data;
              selectedPage = res.page;
              var pageShowingInfo = renderPaginateShowing(res);
              $("#pagenum_info").html(pageShowingInfo);
              var pagination = renderPaginate(res);
              $("#paginate").html(pagination);
            }
            simpleLoad(btn,false);

        });
  }

  function setMenuItemLink(elLink) {
    var alias = $(elLink).attr('data-alias');
    var fullURL = "/"+selectedLinkType+"/"+alias;
    var selectURLField =  selectURLItem.find("input.url-field");
    selectURLItem.attr("data-url",fullURL);
    if(selectURLField) {
        selectURLField.val(fullURL);
        $("#openPageModal").modal('hide');
          
    }
  }


  function renderTableContent(data){
      var strRenderer = "";
      for(var i=0;i<data.length;i++){
          var content = data[i];
          if(selectedLinkType == "tag")
          {
            content['alias'] =  content['title'];
          }

          strRenderer += '<tr><td class="project-title"><a class="menu-url-link" href="#" data-alias="'+content['alias']+'">'+content['title']+'</a><br>';
          if(selectedLinkType == "content")
          {
            strRenderer += '<small>Created '+convertTimestampToDate(content['dateCreated'])+'</small>';
          }
          strRenderer +=  '</td>';
          strRenderer +=  '<td class="project-people">';
          if(content['picture'])
            strRenderer +=  '<img alt="image" class="img-square" src="/uploads/'+content['id']+"/small/"+content['picture']+'">';
          strRenderer +=  '</td></tr>';
      }
      return strRenderer;
  }

    function renderPaginateShowing(data){
    //Showing 1 to 10 of 57 entries
    var pageInfoText = "Showing ";
    if(data.page == 1){
      pageInfoText += "1";
    }else {
      pageInfoText += (data.page*data.limit);
    }
    if(data.total < data.limit){
      pageInfoText += " to " + data.total;
    }else{
        var toNumber = data.page*data.limit;
        pageInfoText += " to ";
        if(toNumber < data.total)
           pageInfoText += toNumber;
        else {
          pageInfoText += data.total;
        }
    }

    pageInfoText += " of " + data.total;

    return pageInfoText;
  }

  function reloadPageWithNumber(num){
    if(num>0)
      renderPageList({page:num});
  }

  function renderPaginate(data){
    var total = data.total;
    var limit = data.limit;
    var pageNumber = Math.ceil(data.total/data.limit);
    var next = (parseInt(selectedPage)+1);
    var prev =(parseInt(selectedPage)-1);
    var strPaginate = '  <ul class="pagination">';
    if(prev > 0)
      strPaginate +=  '<li class="paginate_button previous disabled" aria-controls="editable" tabindex="0" id="editable_previous"><a class="change-page" data-page="'+prev+'" href="#">Previous</a></li>';

    for(var z=1;z<=pageNumber;z++){
      strPaginate += '<li class="paginate_button ';
      if(z==selectedPage)
        strPaginate += "active";
      strPaginate +='" aria-controls="editable" tabindex="0"><a class="change-page" href="#" data-page="'+z+'">'+z+'</a></li>';
    }
    if(next <= pageNumber)
      strPaginate +=  '<li class="paginate_button next" aria-controls="editable" tabindex="0" id="editable_next"><a class="change-page" data-page="'+next+'" href="#">Next</a></li>';

    strPaginate += '</ul>';
    return strPaginate;

  }

    
    $(document).ready(function() {
      $("#uploader-area").hide();
      //UPDATE TITLE
      if(menuid!="")
        $("input[name='menuid']").val(menuid);

        // activate Nestable for list 1
        $('#nestable').nestable({
            group: 1
        }).on('change', updateOutput);

      updateOutput($('#nestable').data('output', $('#nestable-output')));

    $("#menu-type").on("change",function(){
      selectedLinkType = $(this).val();
      renderPageList();
    });

    $("#loading-btn").on("click",function(){
        $("#search-txt").val("");
        renderPageList({});
      });

      //search button
      $("#search-btn").on("click",function(){
        var searchQuery = $("#search-txt").val();
        renderPageList({
          title:"%"+searchQuery+"%"
        });
      });

      $("#search-txt").keyup(function() {

          //check status of button save
          var searchQuery =  $(this).val();
          if(searchQuery.length > 3){
            var objSearch = {
              title:"%"+searchQuery+"%"
            };
            if(searchQuery.indexOf("#")==0){
              searchQuery = searchQuery.replace("#","");
              objSearch = {
                tags:"%"+searchQuery+"%"
              }
            }
            renderPageList(objSearch);
            return
          }else if(searchQuery.length == 0){
            renderPageList({});
          }


      });

      $(document).on("click",'.change-page', function(event) {
        event.preventDefault();
        var page = $(this).data("page");
        if(page!=selectedPage){
          reloadPageWithNumber(page);
        }
      });
      $(document).on("click",'.menu-url-link', function(event) {
          event.preventDefault();
          setMenuItemLink(this);
      });
     


      //save content
      $("#btn-save-new").on("click",function(){
        var menuidstr = $("input[name='menuid']").val();
        if(menuidstr){
          var data = $('.dd').nestable('serialize');

          var postData = {
            menuid: menuidstr,
            menulist: data
          };

          if(menu_unique_id!="default")
            postData.id = menu_unique_id;
          
          console.log("menu data ",postData);

          addAPI("/admin/api/menulist",postData,function(error,res){
              if(!error&&res.success){
                //update id into hidden field
                $("input[name='id']").val(res.id);
                if(res.id && menu_unique_id=="default"){
                  menu_unique_id = res.id;
                  window.location.href= window.location.href+"/"+menu_unique_id;
                }
                //show upload Picture
              }else{
                if(res && res.message != undefined){
                   toastr["error"](res.message);
                }
                 
              }
          });

        }else{
          toastr["error"]("Invalid data");

        }
      });

      $("#add-new").on("click", function(){
          var menuTitle = $("#menutitle").val();
          addNewMenuItem(menuTitle);
          //clear text after added
          $("#menutitle").val("");
      });




    });

</script>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Add new menulist</h5>
                <div class="ibox-tools">
                </div>
            </div>
             <div class="ibox-content form-horizontal">
                        <div class="form-group"><label class="col-lg-2 control-label">Menu List ID</label>
                            <div class="col-sm-6"><input name="id" type="hidden" class="form-control">
                             <input name="menuid" type="text" class="form-control">
                            </div>
                        </div>
        
                        <div class="hr-line-dashed"></div>
                        
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Menu Items</label>
                            <div class="col-sm-4">
                                <input type="text" id="menutitle" name="menutitle" class="form-control">
                            </div>
                            <div class="col-sm-4">
                              <button id="add-new" class="btn btn-success"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-8">
                                <div class="dd" id="nestable">
                                      <ol class="dd-list" id="menu-item-container">

                                      </ol>
                                  </div>
                          </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white" type="submit">Cancel</button>
                                <button id="btn-save-new" class="btn btn-primary" type="submit">Save</button>
                            </div>
                        </div>

              </div>

            </div>
      </div>
</div>
<div class="modal inmodal" id="openPageModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <i class="fa fa-link modal-icon"></i>
                    <h4 class="modal-title">Menu Link</h4>

                    <div class="form-group"><label class="col-sm-2 control-label">Select Type</label>
                        <div class="col-sm-4">
                            <select class="form-control m-b" id="menu-type">
                                <option value="content">Page</option>
                                <option value="tag">Tag</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-body">
                   <div id="content-container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="wrapper wrapper-content animated fadeInUp">
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <h5>All pages </h5>
                                        <div class="ibox-tools">
                                            <a href="/admin/newpage" class="btn btn-primary btn-xs">Create new page</a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="row m-b-sm m-t-sm">
                                            <div class="col-md-2">
                                                <button type="button" id="loading-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="input-group"><input id="search-txt" type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                                    <button id="search-btn" type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                                            </div>
                                        </div>

                                        <div class="project-list">

                                            <table class="table table-hover">
                                                <tbody id="table-content-list">
                                                </tbody>
                                            </table>
                                            <!--- BEGIN Paginate -->
                                            <div class="row">
                                              <div class="col-md-6">
                                                <div class="dataTables_info" id="pagenum_info" role="status" aria-live="polite"></div>
                                              </div>
                                              <div class="col-md-6">
                                                <div class="dataTables_paginate paging_simple_numbers" id="paginate">

                                                </div>
                                              </div>
                                            </div>
                                            <!-- END Paginate -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                   
                   
                   </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>