<% layout('admin-layout') -%>
<div class="row">
    <div class="col-lg-12">
        <div class="text-center m-t-lg">
            <h1>
                Welcome in SimpleCMS Project
            </h1>
            <small>
                Profiel management
            </small>
        </div>
    </div>
</div>