<% layout('admin-layout') -%>
<div class="row">
    <div class="col-lg-12">
        <div class="text-center m-t-lg">
            <h1>
              Welcome to Settings page
            </h1>
            <small>
                Will coming soon. Now I have no idea for this page.
            </small>
        </div>
    </div>
</div>
