<div class="right-content">

      <!-- <div class="table-right-content">
        <h1><a href="#"><span>Tuyển Dụng/<span><strong>Recruitment</strong></a></h1>
      </div> -->
    <div class="table-online-right">
        <h3>Online Support</h3>
        <span style="text-align:center;">
          <a href="/"><img alt="Viber" src="images/web-viber-icon.png" border="0"></a>

          <a href="/"><img alt="Skype" src="images/icon-zalo.png"></a>
        </span>
        <p>
          Mr. Quang<br>0906.936.779<br>
          Email: <a  href="#">nhatquang2014@gmail.com</a>
        </p>
    </div>

    <div class="table-online-right">
        <h3>Online Support</h3>
        <span style="text-align:center;">
          <a href="/"><img alt="Viber" src="images/web-viber-icon.png" border="0"></a>

          <a href="/"><img alt="Skype" src="images/icon-zalo.png"></a>
        </span>
        <p>
          Mrs. Hanh<br>0906.936.779<br>
          Email: <a  href="#">khaianhouse@gmail.com</a>
        </p>
    </div>

    <!-- <div class="table-logo-content">
        <p><a href="#"><img src="images/logo1.jpg"></a></p>
        <p><a href="#"><img src="images/logo2.png"></a></p>
        <p><a href="#"><img src="images/logo3.jpg"></a></p>

    </div> -->

</div>
