<div class="right-content">
      <div class="table-right-content">
        <p><a href="#"><img src="images/kygui.gif"></a></p>
      </div>

      <!-- <div class="table-right-content">
        <h1><a href="#"><span>Tuyển Dụng/<span><strong>Recruitment</strong></a></h1>
      </div> -->
    <div class="table-online-right">
        <h3>Online Support</h3>
        <span style="text-align:center;">
          <a href="#"><img alt="Yahoo" src="images/YahooIcon.png" border="0"></a>

          <a href="#"><img alt="Skype" src="images/Skype_Icon.png"></a>
        </span>
        <p>
          Mr. Quang<br>0909.99.99.99.99<br>
          Email: <a  href="#">Quang@gmail.com</a>
        </p>
    </div>


    <div class="table-logo-content">
        <p><a href="#"><img src="images/logo1.jpg"></a></p>
        <p><a href="#"><img src="images/logo2.png"></a></p>
        <p><a href="#"><img src="images/logo3.jpg"></a></p>

    </div>

</div>
