<% layout('layout') -%>

<section class="content">

	<div class="left-content">
		<h3>Apart for rent</h3>
			<div class="row">
					<%if(typeof apartforent != "undefined"){ for(var i=0; i<apartforent.length; i++){%>
							<div class="col-xs-6 col-sm-3 content-main">

								<%if(apartforent[i].picture){%>
									<img src="/uploads/<%-apartforent[i].id%>/<%-apartforent[i].picture%>">
								<% } else { %>
									<img src="../img/no-pic.jpg" />
								<%}%>
								<p><a href="#"><%-apartforent[i].title%></a></p>
								<div class="price"><strong>Price:</strong> <span><%-apartforent[i].price%></span></div>
							</div>
			    <%}}%>
			</div>



			<h3>Apart for Sale</h3>
			<div class="row">
				  <div class="col-xs-6 col-sm-3 content-main">
					<img src="images/g1.png">
					<p><a href="#">Very modern design House for rent in Thao Dien are</a></p>
					<div class="price"><strong>Price:</strong> <span>650 USD/month</span></div>

				  </div>


				<div class="col-xs-6 col-sm-3 content-main">
					<img src="images/g2.png">
					<p><a href="#">Very modern design House for rent in Thao Dien are</a></p>
					<div class="price"><strong>Price:</strong> <span>650 USD/month</span></div>
				  </div>


				  <div class="col-xs-6 col-sm-3 content-main">
					<img src="images/g3.png">
					<p><a href="#">Very modern design House for rent in Thao Dien are</a></p>
					<div class="price"><strong>Price:</strong> <span>650 USD/month</span></div>
				  </div>


				  <div class="col-xs-6 col-sm-3 content-main">
					<img src="images/g5.png">
					<p><a href="#">Very modern design House for rent in Thao Dien are</a></p>
					<div class="price"><strong>Price:</strong> <span>650 USD/month</span></div>
				  </div>


				  <div class="col-xs-6 col-sm-3 content-main">
					<img src="images/g6.png">
					<p><a href="#">Very modern design House for rent in Thao Dien are</a></p>
					<div class="price"><strong>Price:</strong> <span>650 USD/month</span></div>
				  </div>


				   <div class="col-xs-6 col-sm-3 content-main">
					<img src="images/g8.png">
					<p><a href="#">Very modern design House for rent in Thao Dien are</a></p>
					<div class="price"><strong>Price:</strong> <span>650 USD/month</span></div>
				  </div>



				   <div class="col-xs-6 col-sm-3 content-main">
					<img src="images/g1.png">
					<p><a href="#">Very modern design House for rent in Thao Dien are</a></p>
					<div class="price"><strong>Price:</strong> <span>650 USD/month</span></div>
				  </div>


				   <div class="col-xs-6 col-sm-3 content-main">
					<img src="images/g2.png">
					<p><a href="#">Very modern design House for rent in Thao Dien are</a></p>
					<div class="price"><strong>Price:</strong> <span>650 USD/month</span></div>
				  </div>

			</div>
			<div class="more"><a href="#">more...</a></div>




			<h3>House for sale & rent</h3>
			<div class="row">
				  <div class="col-xs-6 col-sm-3 content-main">
					<img src="images/g1.png">
					<p><a href="#">Very modern design House for rent in Thao Dien are</a></p>
					<div class="price"><strong>Price:</strong> <span>650 USD/month</span></div>

				  </div>


				<div class="col-xs-6 col-sm-3 content-main">
					<img src="images/g2.png">
					<p><a href="#">Very modern design House for rent in Thao Dien are</a></p>
					<div class="price"><strong>Price:</strong> <span>650 USD/month</span></div>
				  </div>


				  <div class="col-xs-6 col-sm-3 content-main">
					<img src="images/g3.png">
					<p><a href="#">Very modern design House for rent in Thao Dien are</a></p>
					<div class="price"><strong>Price:</strong> <span>650 USD/month</span></div>
				  </div>


				  <div class="col-xs-6 col-sm-3 content-main">
					<img src="images/g5.png">
					<p><a href="#">Very modern design House for rent in Thao Dien are</a></p>
					<div class="price"><strong>Price:</strong> <span>650 USD/month</span></div>
				  </div>


				  <div class="col-xs-6 col-sm-3 content-main">
					<img src="images/g6.png">
					<p><a href="#">Very modern design House for rent in Thao Dien are</a></p>
					<div class="price"><strong>Price:</strong> <span>650 USD/month</span></div>
				  </div>


				   <div class="col-xs-6 col-sm-3 content-main">
					<img src="images/g8.png">
					<p><a href="#">Very modern design House for rent in Thao Dien are</a></p>
					<div class="price"><strong>Price:</strong> <span>650 USD/month</span></div>
				  </div>



				   <div class="col-xs-6 col-sm-3 content-main">
					<img src="images/g1.png">
					<p><a href="#">Very modern design House for rent in Thao Dien are</a></p>
					<div class="price"><strong>Price:</strong> <span>650 USD/month</span></div>
				  </div>


				   <div class="col-xs-6 col-sm-3 content-main">
					<img src="images/g2.png">
					<p><a href="#">Very modern design House for rent in Thao Dien are</a></p>
					<div class="price"><strong>Price:</strong> <span>650 USD/month</span></div>
				  </div>

			</div>
			<div class="more"><a href="#">more...</a></div>


	</div>



			<div class="right-content">
						<div class="table-right-content">
							<p><a href="#"><img src="images/kygui.gif"></a></p>
						</div>

						<div class="table-right-content">
							<h1><a href="#"><span>Tuyển Dụng/<span><strong>Recruitment</strong></a></h1>
						</div>
					<div class="table-online-right">
							<h3>Online Support</h3>
							<span style="text-align:center;">
								<a href="#"><img alt="Yahoo" src="images/YahooIcon.png" border="0"></a>

								<a href="#"><img alt="Skype" src="images/Skype_Icon.png"></a>
							</span>
							<p>
								Mr. Quang<br>0909.99.99.99.99<br>
								Email: <a  href="#">Quang@gmail.com</a>
							</p>
					</div>
					<div class="table-right-content">
							<h3>Apartment For Rent</h3>
							<ul>
								<li>
									<a href="#"><img src="images/g1.png"></a>
									<span><a href="#">36 CMT8 Street </a>
									<p>HCM, Bình Thạnh</p>
									<p class="price">400 USD/month</p>
									</span>
								</li>
							</ul>

							<ul>
								<li>
									<a href="#"><img src="images/g1.png"></a>
									<span><a href="#">36 CMT8 Street </a>
									<p>HCM, Bình Thạnh</p>
									<p class="price">400 USD/month</p>
									</span>
								</li>
							</ul>
							<ul>
								<li>
									<a href="#"><img src="images/g1.png"></a>
									<span><a href="#">36 CMT8 Street </a>
									<p>HCM, Bình Thạnh</p>
									<p class="price">400 USD/month</p>
									</span>
								</li>
							</ul>
					</div>

				<div class="table-right-content">
							<h3>Apart for Sale</h3>
							<ul>
								<li>
									<a href="#"><img src="images/g1.png"></a>
									<span><a href="#">36 CMT8 Street </a>
									<p>HCM, Bình Thạnh</p>
									<p class="price">400 USD/month</p>
									</span>
								</li>
							</ul>

							<ul>
								<li>
									<a href="#"><img src="images/g1.png"></a>
									<span><a href="#">36 CMT8 Street </a>
									<p>HCM, Bình Thạnh</p>
									<p class="price">400 USD/month</p>
									</span>
								</li>
							</ul>
							<ul>
								<li>
									<a href="#"><img src="images/g1.png"></a>
									<span><a href="#">36 CMT8 Street </a>
									<p>HCM, Bình Thạnh</p>
									<p class="price">400 USD/month</p>
									</span>
								</li>
							</ul>
					</div>

					<div class="table-right-content">
							<h3>House for sale & rent</h3>
							<ul>
								<li>
									<a href="#"><img src="images/g1.png"></a>
									<span><a href="#">36 CMT8 Street </a>
									<p>HCM, Bình Thạnh</p>
									<p class="price">400 USD/month</p>
									</span>
								</li>
							</ul>

							<ul>
								<li>
									<a href="#"><img src="images/g1.png"></a>
									<span><a href="#">36 CMT8 Street </a>
									<p>HCM, Bình Thạnh</p>
									<p class="price">400 USD/month</p>
									</span>
								</li>
							</ul>
							<ul>
								<li>
									<a href="#"><img src="images/g1.png"></a>
									<span><a href="#">36 CMT8 Street </a>
									<p>HCM, Bình Thạnh</p>
									<p class="price">400 USD/month</p>
									</span>
								</li>
							</ul>
					</div>

					<div class="table-logo-content">
							<p><a href="#"><img src="images/logo1.jpg"></a></p>
							<p><a href="#"><img src="images/logo2.png"></a></p>
							<p><a href="#"><img src="images/logo3.jpg"></a></p>

					</div>

			</div>


</section>
