body {
  background: #000 url("../img/bg2.png") !important;
  font-family: "Arial" !important; }

.header {
  width: 100%;
  padding-top: 0px !important;
  position: absolute !important; }
  .header .navbar-default {
    background: rgba(0, 0, 0, 0.8) !important;
    border-color: none !important; }
    .header .navbar-default .navbar-brand {
      color: #ff9601;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 32px; }
      .header .navbar-default .navbar-brand:hover {
        color: #ff9601 !important; }

.home-slider {
  width: 100%;
  margin-top: 79px; }

.content {
  width: 100%;
  float: left; }
  .content .title {
    width: 90%;
    height: 66px;
    margin: auto; }
    .content .title h3 {
      float: left;
      color: #fff;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;
      font-family: 'Fjalla One', sans-serif; }
    .content .title strong {
      float: left;
      margin-top: 28px;
      color: #fff; }
      .content .title strong a {
        font-family: 'Fjalla One', sans-serif;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
        margin-left: 6px; }
  .content .slider {
    margin-bottom: 24px; }
    .content .slider .item:hover .icon-play, .content .slider .item:hover .about-film, .content .slider .item:hover .about-film-right {
      display: block; }
    .content .slider .item strong {
      width: 1%;
      padding: 0.1%;
      margin-top: 0.2%;
      border-radius: 50%;
      /* height: 70px; */
      background: #ff9601;
      position: absolute;
      margin-left: 3.3%;
      text-align: center;
      color: #fff;
      font-family: 'Fjalla One', sans-serif;
      font-size: 100%; }
    .content .slider .item .icon-play {
      width: 28%;
      position: relative;
      margin-top: -91%;
      margin-left: 33%;
      display: none; }
    .content .slider .item .title-film {
      width: 100%;
      background: rgba(0, 0, 0, 0.7);
      position: relative;
      margin-top: -11%;
      padding: 1% 0 2% 5%; }
      .content .slider .item .title-film a {
        text-decoration: none;
        font-family: 'Fjalla One', sans-serif;
        color: #fff; }
    .content .slider .item .about-film {
      width: 134%;
      padding-top: 20px;
      background: #fff;
      position: relative;
      z-index: 100;
      margin-top: -68%;
      margin-left: 103%;
      display: none; }
      .content .slider .item .about-film .img-icon {
        width: 17px;
        height: 27px;
        position: relative;
        margin-left: -5%;
        padding-top: 5%; }
      .content .slider .item .about-film .top-about {
        margin-top: -11%;
        margin-left: 5%;
        margin-right: 5%;
        border-bottom: 1px solid #ccc; }
        .content .slider .item .about-film .top-about p {
          font-family: Arial,Helvetica,sans-serif;
          font-size: 15px;
          line-height: 9px;
          color: #656565; }
        .content .slider .item .about-film .top-about h2 {
          font-family: 'Fjalla One', sans-serif;
          font-size: 22px;
          color: #ff9601; }
      .content .slider .item .about-film .bottom-about {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10px;
        padding-bottom: 5%; }
    .content .slider .item .about-film-right {
      width: 134%;
      background: #fff;
      position: relative;
      z-index: 100;
      /* margin-right: 28%; */
      margin-top: -71%;
      margin-left: -138%;
      display: none;
      padding-top: 20px; }
      .content .slider .item .about-film-right .glyphicon {
        width: 17px;
        height: 27px;
        position: relative;
        margin-left: 98%;
        padding-top: 5%; }
      .content .slider .item .about-film-right .glyphicon-play {
        color: #fff;
        font-size: 29px; }
      .content .slider .item .about-film-right .top-about {
        margin-top: -18%;
        margin-left: 5%;
        margin-right: 5%;
        border-bottom: 1px solid #ccc; }
        .content .slider .item .about-film-right .top-about p {
          font-family: Arial,Helvetica,sans-serif;
          font-size: 15px;
          line-height: 9px;
          color: #656565; }
        .content .slider .item .about-film-right .top-about h2 {
          font-family: 'Fjalla One', sans-serif;
          font-size: 22px;
          color: #ff9601; }
      .content .slider .item .about-film-right .bottom-about {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10px;
        padding-bottom: 5%; }

.content .wapper-item {
  width: 90%;
  margin: auto;
  margin-top: 20px; }
  .content .wapper-item .title {
    width: 98%; }
  .content .wapper-item .item-content {
    width: 19%;
    background: #fff;
    float: left;
    margin-left: 1%;
    margin-bottom: 2%; }
    .content .wapper-item .item-content:hover .icon-play, .content .wapper-item .item-content:hover .about-film, .content .wapper-item .item-content:hover .about-film-right {
      display: block; }
    .content .wapper-item .item-content strong {
      width: 3%;
      padding: 0.1%;
      margin-top: 0.5%;
      border-radius: 50%;
      /* height: 70px; */
      background: #ff9601;
      position: absolute;
      margin-left: 13.6%;
      text-align: center;
      color: #fff;
      font-family: 'Fjalla One', sans-serif;
      font-size: 100%; }
    .content .wapper-item .item-content img {
      width: 100%; }
    .content .wapper-item .item-content .icon-play {
      width: 28%;
      position: relative;
      margin-top: -91%;
      margin-left: 33%;
      display: none; }
    .content .wapper-item .item-content .title-film {
      width: 100%;
      float: left;
      background: rgba(0, 0, 0, 0.7);
      position: relative;
      margin-top: -11%;
      padding: 1% 0 2% 5%; }
      .content .wapper-item .item-content .title-film a {
        text-decoration: none;
        font-family: 'Fjalla One', sans-serif;
        color: #fff; }
    .content .wapper-item .item-content .about-film {
      width: 134%;
      background: #fff;
      position: relative;
      z-index: 100;
      margin-top: -75%;
      margin-left: 103%;
      display: none; }
      .content .wapper-item .item-content .about-film .img-icon {
        width: 17px;
        height: 27px;
        position: relative;
        margin-left: -5%;
        padding-top: 5%; }
      .content .wapper-item .item-content .about-film .top-about {
        margin-top: -11%;
        margin-left: 5%;
        margin-right: 5%;
        border-bottom: 1px solid #ccc; }
        .content .wapper-item .item-content .about-film .top-about p {
          font-family: Arial,Helvetica,sans-serif;
          font-size: 15px;
          line-height: 9px;
          color: #656565; }
        .content .wapper-item .item-content .about-film .top-about h2 {
          font-family: 'Fjalla One', sans-serif;
          font-size: 22px;
          color: #ff9601; }
      .content .wapper-item .item-content .about-film .bottom-about {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10px;
        padding-bottom: 5%; }
    .content .wapper-item .item-content .about-film-right {
      width: 134%;
      background: #fff;
      position: relative;
      z-index: 100;
      /* margin-right: 28%; */
      margin-top: -71%;
      margin-left: -138%;
      display: none; }
      .content .wapper-item .item-content .about-film-right .glyphicon {
        width: 17px;
        height: 27px;
        position: relative;
        margin-left: 98%;
        padding-top: 5%; }
      .content .wapper-item .item-content .about-film-right .glyphicon-play {
        color: #fff;
        font-size: 29px; }
      .content .wapper-item .item-content .about-film-right .top-about {
        margin-top: -21%;
        margin-left: 5%;
        margin-right: 5%;
        border-bottom: 1px solid #ccc; }
        .content .wapper-item .item-content .about-film-right .top-about p {
          font-family: Arial,Helvetica,sans-serif;
          font-size: 15px;
          line-height: 9px;
          color: #656565; }
        .content .wapper-item .item-content .about-film-right .top-about h2 {
          font-family: 'Fjalla One', sans-serif;
          font-size: 22px;
          color: #ff9601; }
      .content .wapper-item .item-content .about-film-right .bottom-about {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10px;
        padding-bottom: 5%; }
.content .pagination {
  margin: 0 0 29px 13px; }
.content .pagination > li > a, .content .pagination > li > span {
  position: relative;
  color: #337ab7;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #ccc; }
.content .pagination > li > a {
  color: #fff; }
.content .pagination > li > a:focus, .content .pagination > li > a:hover, .content .pagination > li > span:focus, .content .pagination > li > span:hover {
  color: #ff9601;
  background-color: rgba(0, 0, 0, 0.7);
  border-color: #ddd; }

.video-play {
  width: 76%;
  margin: auto;
  margin-top: 79px;
  background: #000; }
  .video-play .wapper-video {
    width: 100%;
    padding: 20px 20px 10px 20px;
    margin: auto; }

.wapper-content-video .content {
  background: #0c0c0c; }
  .wapper-content-video .content .slider {
    margin-top: 10px;
    padding-bottom: 10px; }
  .wapper-content-video .content .detail {
    width: 90%;
    margin: auto;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding-bottom: 28px; }
    .wapper-content-video .content .detail h2 {
      font-family: 'Fjalla One', sans-serif;
      color: #ff9601; }
    .wapper-content-video .content .detail .table {
      font-family: Arial,Helvetica,sans-serif;
      font-size: 15px;
      color: #656565; }
      .wapper-content-video .content .detail .table tr th {
        font-weight: normal !important;
        border-top: 0px !important; }
        .wapper-content-video .content .detail .table tr th span {
          color: #fff;
          font-weight: bold; }
    .wapper-content-video .content .detail p {
      font-family: Arial,Helvetica,sans-serif;
      font-size: 15px;
      color: #656565; }
      .wapper-content-video .content .detail p span {
        color: #fff;
        font-weight: bold; }

.footer {
  border-top: 4px solid #ff9601;
  padding-top: 10px;
  text-align: center;
  width: 100%;
  float: left; }
  .footer p {
    color: #fff; }

/*# sourceMappingURL=style.css.map */
