<section class="header">
   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">PHIMHAYHE</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" >
          <!-- <ul class="nav navbar-nav menu-home">
            <li class="active"><a href="#">Home</a></li>
            <li ><a href="#"> Phim bộ  </a> </li>
            <li ><a href="#"> Phim lẻ  </a> </li>
            <li ><a href="#"> Hoạt Hình  </a> </li>
            <li ><a href="#"> Phim Hài  </a> </li>
            <li ><a href="#"> Phim bộ  </a> </li>
            <li ><a href="#"> Phim lẻ  </a> </li>
            <li ><a href="#"> Hoạt Hình  </a> </li>
            <li ><a href="#"> Phim Hài  </a> </li>
            <li ><a href="#"> Phim bộ  </a> </li>
            <li ><a href="#"> Phim lẻ  </a> </li>
            <li ><a href="#"> Hoạt Hình  </a> </li>
            <li ><a href="#"> Phim Hài  </a> </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Khác <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Gameshow Tryền hình</a></li>
                <li><a href="#">Gameshow Hài</a></li>
                <li><a href="#">Gameshow Thực Tế</a></li>
                <li><a href="#">Thể Thao</a></li>
                <li><a href="#">Clip Hài</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul> -->
          <%-partial('block-menu')%>
          <!-- <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form> -->

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

</section>
