<script type="text/javascript">
	$( document ).ready(function( $ ) {
		$( '#main-slider' ).sliderPro({
			width: 670,
			height: 500,
			orientation: 'vertical',
			loop: false,
			arrows: true,
			buttons: false,
			thumbnailsPosition: 'right',
			thumbnailPointer: true,
			thumbnailWidth: 290,
			breakpoints: {
				800: {
					thumbnailsPosition: 'bottom',
					thumbnailWidth: 270,
					thumbnailHeight: 100
				},
				500: {
					thumbnailsPosition: 'bottom',
					thumbnailWidth: 120,
					thumbnailHeight: 50
				}
			}
		});
	});
</script>

<section class="home-slider">

<div id="main-slider" class="slider-pro">
		<div class="sp-slides">
			<div class="sp-slide">
				<a href="#"><img class="sp-image" src="img/blank.gif"
					data-src="img/ninja-rua.jpg"
					data-retina="img/ninja-rua.jpg"/></a>

				<div class="sp-caption">
				<h2>Cuong Đao</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>
			</div>



	        <div class="sp-slide">
			<a href="#">	<img class="sp-image" src="img/blank.gif"
					data-src="img/tro-choi-goi-hon.jpg"
					data-retina="img/tro-choi-goi-hon.jpg"/></a>

				<div class="sp-caption">
				<h2>Trò Chơi Gọi Hồn</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>
			</div>

			<div class="sp-slide">
				<a href="#"><img class="sp-image" src="img/blank.gif"
					data-src="img/the-conjuring-2-the-enfield-poltergeist.jpg"
					data-retina="img/the-conjuring-2-the-enfield-poltergeist.jpg"/></a>

				<div class="sp-caption">
				<h2>Am Ảnh Kinh Hoàng</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>
			</div>

			<div class="sp-slide">
				<a href="#"><img class="sp-image" src="img/blank.gif"
					data-src="img/independence-day-resurgence.jpg"
					data-retina="img/independence-day-resurgence.jpg"/></a>

				<div class="sp-caption">
				<h2>Cuong Đao</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>
			</div>

			<div class="sp-slide">
				<img class="sp-image" src="img/blank.gif"
					data-src="img/warcraft (1).jpg"
					data-retina="img/warcraft (1).jpg"/>

				<div class="sp-caption">
				<h2>Cuong Đao</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>
			</div>







			<div class="sp-slide">
				<a href="#"><img class="sp-image" src="img/blank.gif"
					data-src="img/white-house-down15-07-2016_16g15-49.jpg"
					data-retina="img/white-house-down15-07-2016_16g15-49.jpg"/></a>

				<div class="sp-caption">
				<h2>Nhà Trắng Thất Thủ</h2>
				<p>Một mật vụ được giao bảo vệ tổng thống...</p>
				</div>
			</div>



		</div>





		<div class="sp-thumbnails">
			<div class="sp-thumbnail">
				<div class="sp-thumbnail-image-container">
				<img class="sp-thumbnail-image" src="img/ninja-rua.jpg"/>
				</div>
				<div class="sp-thumbnail-text">
					<div class="sp-thumbnail-title">Cuong dao</div>
					<div class="sp-thumbnail-description">Dolor sit amet, consectetur adipiscing</div>
				</div>
			</div>

			<div class="sp-thumbnail">
				<div class="sp-thumbnail-image-container">
					<img class="sp-thumbnail-image" src="img/tro-choi-goi-hon.jpg"/>
				</div>
				<div class="sp-thumbnail-text">
					<div class="sp-thumbnail-title">Trò chơi gọi hồn</div>
					<div class="sp-thumbnail-description">Tempor incididunt ut labore et dolore magna</div>
				</div>
			</div>

			<div class="sp-thumbnail">
				<div class="sp-thumbnail-image-container">
					<img class="sp-thumbnail-image" src="img/the-conjuring-2-the-enfield-poltergeist.jpg"/>
				</div>
				<div class="sp-thumbnail-text">
					<div class="sp-thumbnail-title">Ut enim</div>
					<div class="sp-thumbnail-description">Ad minim veniam, quis nostrud exercitation</div>
				</div>
			</div>

			<div class="sp-thumbnail">
				<div class="sp-thumbnail-image-container">
					<img class="sp-thumbnail-image" src="img/independence-day-resurgence.jpg"/>
				</div>

				<div class="sp-thumbnail-text">
					<div class="sp-thumbnail-title">Ullamco oris</div>
					<div class="sp-thumbnail-description">Nisi ut aliquip ex ea commodo consequat</div>
				</div>
			</div>

			<div class="sp-thumbnail">
				<div class="sp-thumbnail-image-container">
			<img class="sp-thumbnail-image" src="img/warcraft (1).jpg"/>
				</div>
				<div class="sp-thumbnail-text">
					<div class="sp-thumbnail-title">Duis aute</div>
					<div class="sp-thumbnail-description">Irure dolor in reprehenderit</div>
				</div>
			</div>


	<div class="sp-thumbnail">
				<div class="sp-thumbnail-image-container">
			<img class="sp-thumbnail-image" src="img/white-house-down15-07-2016_16g15-49.jpg"/>
				</div>
				<div class="sp-thumbnail-text">
					<div class="sp-thumbnail-title">Duis aute</div>
					<div class="sp-thumbnail-description">Irure dolor in reprehenderit</div>
				</div>
			</div>



		</div>
</div>

</section>
