<!DOCTYPE html>
<html lang="en">
  <head>
<meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<title><%-title%></title>
<base href="/<%-template%>/">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- css slider -->
<link rel="stylesheet" type="text/css" href="css/slider-pro.min.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="css/main-banner.css" media="screen"/>

<!--css section content-->
  <link rel="stylesheet" type="text/css" href="css/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="css/slick/slick-theme.css">

  <!--slider-->
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/jquery.sliderPro.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/HTML5.js"></script>
<!--slider-->

  <style type="text/css">
    html, body {
      margin: 0;
      padding: 0;
    }

    * {
      box-sizing: border-box;
    }

    .slider {
        width: 90%;
        margin: auto;
    }

    .slick-slide {
      margin: 0px 4px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
  </style>

  </head>
  <body>
<%-partial('block-header')%>

<!-- CONTENT -->
<%-body -%>
<section class="footer">

<p>Copyright@ 2016 phimhd.com Phiên bảng chạy thử nghiệm</p>
</section>







</body>

</html>
